.git
.github
.env
.env.*
!.env.example
node_modules
vendor
tests
phpunit.xml
.editorconfig
.phpunit.result.cache
npm-debug.log
yarn-error.log
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
docker/letsencrypt
